{{> head }}

{{> navbar }}

<div class="container mt-3">
<div class="row">
    <div class="col-8">
        <h1>Titulo del about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nostrum necessitatibus enim ipsam quo animi, omnis ipsum voluptatem numquam a deserunt alias provident aspernatur iusto vel vero praesentium modi quibusdam.</p>
    </div>
    <div class="col-4">
        <img src="assets/imagenes/diploma.png" alt="Foto de memo" class="img-thumbnail">
    </div>
</div>

</div>


{{> footer }}